---
import Layout from "../layouts/Layout.astro";
const res = await fetch("http://localhost:8086/wp-json/wp/v2/posts");
const posts = await res.json();
---
<Layout title="Astro + WordPress = Zero Js">
 	{
    posts.map((post) => (
      <h2 set:html={post.title.rendered} />
      <p set:html={post.content.rendered} />
      <a href={post.slug}>Read more</a>
    ))
  }
<Layout/>
